.forbidden-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-width: 1px 0px 1px 0px;
  border-style: solid;
  border-color: #ff0000;
  background-color: #ffe6e6;
  color: #ff0000;
  margin: 0;
  padding: 0;
  text-align: center;
}

.forbidden-container h2 {
  font-size: 1.5em;
}

.forbidden-container p {
  font-size: 0.9em;
}
