.form-label {
  text-align: left;
  width: 100%;
  padding: 10px;
}

.form-control {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.position-fixed {
  position: fixed;
}

.top-0 {
  top: 0;
}

.end-0 {
  right: 0;
}

.m-3 {
  margin: 1rem;
}
